# C# .NET
backend/MAI.API/bin/
backend/MAI.API/obj/
backend/MAI.API/.aitianore

# Flutter/Dart
app/mai_app/.dart_tool/
app/mai_app/build/
app/mai_app/android/build/
app/mai_app/ios/
app/mai_app/macos/
app/mai_app/windows/
app/mai_app/linux/

# IDE
.vscode/
.idea/
*.iml

# Конфиги с секретами (добавь шаблоны)
backend/MAI.API/appsettings.json
backend/MAI.API/appsettings.Development.json